# Ignore Terraform working directory
.terraform

# Ignore .terraform.* files
.terraform.*

# Ignore SSH key folder and files
ssh-key

# Ignore .tfstate files
*.tfstate

# Ignore .tfstate.backup files
*.tfstate.backup

# Ignore .terraform.lock.hcl files
.terraform.lock.hcl